:root {
    --auburn: rgb(160, 36, 36);
    --fireEngine: rgb(187, 54, 40);
    --imperialRed: rgb(231, 46, 53);
    --xanthous: rgb(234, 180, 9);
    --saffron: rgb(239, 201, 65);
    --platinum: rgb(233, 227, 227);
    --licorice: rgb(35, 24, 21);
  }

body{
    background-color:white
}

h1{
 color: #333b46;
 margin: 25px 20px;
}
h1:after {
   content: '';
   display: block;
   position: relative;
   width: 10%;
   border: 2px solid var(--auburn);
   margin-top: 8px; }

.altSection {
  background-color: var(--fireEngine);
  color: var(--platinum);
}

.altSection  h1 {
  color: var(--platinum);
}
.altSection  h1:after{
    border: 2px solid var(--xanthous);
}

#logo{
    display: block;
    margin: 0;
  margin-left: auto;
  margin-right: auto;
    line-height: 0;
    height: 10vh;
    padding: .5vw;
}

.removeTop {
    overflow: hidden;
    position: relative;
}

.parallaxSection{
    /*background-image: url("../Images/BirdEyeCropped.jpeg");*/
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    overflow: hidden;
    
}

.parallaxInner {
    
    padding: 100px;
    margin-top: 150px;
}

.container div div p{
    padding-left: 10px;
    border-left: 5px solid var(--auburn);
}

.dropdown-menu{
    background-color: var(--auburn);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item{
    color: var(--platinum);
}

.dropdown-item:hover{
    background-color: var(--xanthous);
    color: var(--licorice);
}

@media (min-width: 200px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }